/* common */

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Raleway', sans-serif;

}

body{
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
}

/* fine common */

/* intestazione  */
header{
    width: 100%;
    margin-bottom: 30px;
    position: relative;
}

header .logo{
    height: 50px;
    object-fit: contain;
    border-right: 1px solid #bebebeec;
    padding-right: 20px;
    margin-bottom: 30px;
}

/* inizio menù nav  */
header .menù ul{
}


header .menù li{
    display: inline-block;
}

header .menù a{
color: #9e9e9e;
text-decoration: none;
padding-right: 5px;
font-weight: 400;

}
/* fine menù nav  */

/* fine intestazione  */


/* parte principale  */

/* parte gialla  */
main .parte-gialla{
    margin-top: 20px;
    position: relative;
    height: 450px;
}


main .parte-gialla .container{
    padding: 50px 40px;
    position: absolute;
    bottom: 0;
    width: 55%;
    color: #fff;
}

main .parte-gialla .container h3{
    font-size: 1.7rem;
    font-weight: 400;
}

main .parte-gialla .container p{
font-size: 1rem;
}


main .parte-gialla .overlay{
    position: absolute;
    bottom: 0;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
main .parte-gialla .banner-1{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;   
}
/* fine parte gialla  */

/* parte azzurra  */
main .parte-azzurra{

}

.parte-azzurra::after{
    content: "";
    clear: both;
    display: table;
}

.parte-azzurra div{
}


/* inizio intestazione parte azzurra  */

.parte-azzurra .intestazione{
    width: 100%;
    margin: 30px 0;
}

.parte-azzurra .intestazione h2{
    font-weight: 700;
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
}

.parte-azzurra .intestazione p{
color: #A8A8A8;
}

/* fine intestazione parte azzurra  */


/* Parte azzurra sinistra */

.parte-azzurra .leftside{
    width: 20%;
    float: left;
}

.leftside .img-container{
    position: relative;
    height: 150px;
}

.leftside .img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.leftside .container h4{
font-weight: 400;
}

.leftside .container p{
color: #A8A8A8;
}

.leftside .container .overlay{
position: absolute;
top: 0;
background-color: black;
opacity: 0.2;
width: 100%;
height: 100%;
border-radius: 10px;

}
/* Fine parte azzurra sinistra */

/* Parte azzurra centro */


.parte-azzurra .contenuto{
    width: 56%;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
}

.contenuto .img-container{
    position: relative;
    height: 150px;
}

.contenuto .img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.contenuto .container h4{
font-weight: 400;
}
    
.contenuto .container p{
color: #A8A8A8;
}
    

.contenuto .container .overlay{
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}    

        





/* Fine parte azzurra centro */

/* Parte azzurra destra */

.parte-azzurra .rightside{
    width: 20%;
    float: left;
}



.rightside .img-container{
    position: relative;
    height: 150px;
}

.rightside .img-container img{
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.rightside .container h4{
font-weight: 400;
}
        
.rightside .container p{
color: #A8A8A8;
}
    


.rightside .container .overlay{
    position: absolute;
    top: 0;
    background-color: black;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}    

/* Fine partex azzurra destra */


/* fine parte azzurra  */



/* fine parte principale  */
footer{
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

footer .cuore{
    color: #f00
}